.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar img {
  width: 40px;
  height: 40px;
}

.navbar .graduation img {
  height: 18px;
  width: 15px;
}

.navbar button {
  background-color: rgba(0, 0, 0, .10);
}

.graduation p {
  font-size: 12px;
  color: rgb(233, 231, 228);
  margin: 0;
  font-family: sans-serif;
}

.dollar button {
  height: 15px;
  width: 60px;
  font-size: 10px;
  padding: 0;
  background-color: orange;
}

.menu img {
  width: 23px;
  height: 23Zpx;
}

.card {
  width: 400px;
}




.card-1 img {
  width: 70px;
  height: 70px;

}

.card-1 {
  width: 100%;
  border: 1px solid rgba(161, 159, 159, .5);
}



.img-1 img {
  width: 30px;
  height: 30px;
}

.card {
  box-shadow: 0 0 25px rgb(0, 0, 0, 25%);
}

.shaded {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(64 54 54 / 54%) 0%, rgb(0 0 0 / 50%) 100%);
}

.shaded1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(64 54 54 / 54%) 0%, rgb(0 0 0 / 82%) 100%);
}

.explore:hover .explore-menu {
  display: block;
  left: 30%;
}

.nav {
  border-radius: 10px;
  background: linear-gradient(90deg, #6FE8EF 0%, #085E9D 100%);
}

.sidebar {
  border-radius: 10px;
  background: linear-gradient(2deg, #2BA4CA 49.54%, #006CBB 99.35%, #808B93 103.51%);
}

.home {
  background-color: #f5f5f5;
}

.back {
  mix-blend-mode: multiply;
}

.sportbtn:hover {
  transform: scale(1.4);


}

.sportbtn {
  transition-delay: 10s;
}













/* Header.css */

.header-container {
  background-color: #333;
  /* Example background color */
  color: #fff;
  /* Example text color */
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-size: 24px;
  /* Example font size */
}

.search-input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  /* Example border radius */
  padding: 5px 15px;
  font-size: 16px;
}

.location-btn {
  background-color: #007bff;
  /* Example button background color */
  color: #fff;
  /* Example button text color */
  height: 40px;
  border: none;
  border-radius: 20px;
  /* Example border radius */
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}

.user-icon,
.cart-icon,
.settings-icon {
  width: 30px;
  /* Example icon size */
  height: 30px;
}

.rounded-circle {
  border-radius: 50%;
  /* Example border radius for rounded buttons */
  margin-left: 5px;
  /* Example margin between buttons */
}