@media screen and (max-width:640px) {

    .carousel {
        display: none;
    }

    .profile_query {
        display: none;
    }

    .media-sidebar ul li {
        width: 100%;
        /* display: inline-block; */
    }
}