@media screen and (max-width:640px) {

    .nav_logo {
        display: none;
    }

    .media_sidebar ul li {
        display: none;
    }

    .games_media {
        display: none;
    }

    .media_header {
        position: block;
        background-color: rgba(18, 18, 18);
        padding: 10px;
    }

    .media_location {
        display: none;
    }

    .nav_profile {
        display: none;
    }


}

@media screen and (max-width:768px) {
    .nav_logo {
        display: none;
    }

    .sidebar {
        display: none;
    }
}